# tex
*.aux
*.log
*.out
*.pdf
*.bbl
*.blg
*.brf
*.fls
*.fns
*.fmt
*.idx
*.ilg
*.ind
*.ist
*.run
*.syn
*.toc
*.vrb
*.fdb_latexmk
*.synctex.gz
*.synctex
*.synctex(busy)
*.latexmk
*.latexmkrc
*.latexmkrc.bak
*.listing

#----
external/
build/
.vscode/

#----

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
